.ground {
    background-color: #816e30;
    height: 25%;
    position: absolute;
    width: 100%;
    z-index: -1;
    right: 0;
    left: 0;
    bottom: 0;
}

.droid {
    --size: 140px;
    position: absolute;
    margin-left: 0;
    width: var(--size);
    bottom: 20%;
    left: 10%;
    z-index: 4;
}

.radios {
    position: absolute;
    transition: left 0.6s;
    left: 22%;
}

.radios.right {
    left: 0%;
}

.radio {
    background-color: #f0e5d6;
    position: absolute;
    width: 2px;
}

.radio.short {
    height: 20px;
    top: -60px;
    left: 50px;
}

.radio.long {
    border-top: 6px solid #181818;
    border-bottom: 6px solid #181818;
    height: 36px;
    top: -78px;
    left: 56px;
}

.head {
    background-color: #dad5cd;
    border-radius: 90px 90px 14px 14px;
    height: 56px;
    margin-left: -45px;
    overflow: hidden;
    position: absolute;
    width: 90px;
    z-index: 1;
    top: -46px;
    left: 50%;
}

.band {
    position: absolute;
    width: 100%;
}

.band.one {
    background-color: #9f9a9a;
    height: 6px;
    z-index: 1;
    top: 6px;
    opacity: 0.8;
}

.band.two {
    background-color: #d27c47;
    height: 4px;
    top: 17px;
}

.band.three {
    background-color: #bcb3b3;
    height: 4px;
    top: 27px;
}

.eyes {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    transition: left 0.6;
    left: 0%;
    z-index: 10;
}

.eyes.right {
    left: 36%;
}

.eye {
    border-radius: 50%;
    display: block;
    position: absolute;
}

.eye.one {
    background-color: #0f0f1a;
    border: 4PX solid #d0c5b5;
    height: 30px;
    width: 30px;
    top: 12px;
    left: 12%;
}

.eye.one::after {
    background-color: #ffffff;
    border-radius: 50%;
    content: '';
    display: block;
    height: 3px;
    width: 3px;
    position: absolute;
    top: 4px;
    right: 4px;
}

.eye.two {
    background-color: #ddd2c2;
    border: 1px solid #06060e;
    height: 16px;
    width: 16px;
    top: 30px;
    left: 40%;
}

.eye.two::after {
    background-color: #07070b;
    border-radius: 50%;
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 2px;
    left: 2px;
}

.body {
    background-color: #dad5cd;
    border-radius: 50%;
    height: var(--size);
    width: var*var(--size);
    overflow: hidden;
    position: relative;
}

.lines {
    border: 2px solid #a7916c;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    position: absolute;
    opacity: 0.6;
}

.lines.two {
    top: -10px;
    left: -250px;
}

.circle {
    background-color: #b46636;
    border-radius: 50%;
    height: 70px;
    margin-left: -35px;
    width: 70px;
    position: absolute;
}

.circle::after {
    background-color: #d1c3ad;
    border-radius: 50%;
    content: '';
    display: block;
    height: 70%;
    margin-top: -35%;
    margin-left: -35%;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
}

.circle.one {
    margin-left: -40px;
    height: 80px;
    width: 90px;
    top: 6%;
    left: 50%;
}

.circle.two {
    height: 38px;
    width: 76px;
    transform: rotate(40deg);
    top: 70%;
    left: 18%;
}

.circle.two::after {
    top: 110%;
}

.circle.three {
    height: 30px;
    transform: rotate(-50deg);
    top: 60%;
    left: 90%;
}

.circle.three::after {
    top: 110%;
}

.shadow {
    background-color: rgb(70, 50, 38);
    border-radius: 50%;
    height: calc(var(--size) / 6);
    opacity: 0.8;
    position: absolute;
    width: var(--size);
    z-index: -1;
    left: 5px;
    bottom: -8px;
}