.card {
    height: 200px;
    width: 140px;
    border-radius: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 0px;
}

.card>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.style-A {
    --soft-A-white: #f3f3f3;
    --soft-A-blue: #1c73ff;
    --soft-A-green: #389738;
    --soft-A-red: #c54848;
    --soft-A-black: #686868;
    --contrast-A-blue: #0c3b86;
    --contrast-A-green: #235a23;
    --contrast-A-red: #861e1e;
    --contrast-A-black: #2a2a2a;
    font-family: 'Rubik', sans-serif;
    font-size: 64px;
    color: var(--soft-A-white);
    flex-shrink: 0;
}

/* Spades */
.card.style-A.spades {
    background-color: var(--soft-A-black);
}

.card.style-A svg.spades {
    fill: var(--contrast-A-black)
}

/* Hearts */
.card.style-A.hearts {
    background-color: var(--soft-A-red);
}

.card.style-A svg.hearts {
    fill: var(--contrast-A-red)
}

/* Diamonds */
.card.style-A.diamonds {
    background-color: var(--soft-A-blue);
}

.card.style-A svg.diamonds {
    fill: var(--contrast-A-blue)
}

/* Clubs */
.card.style-A.clubs {
    background-color: var(--soft-A-green);
}

.card.style-A svg.clubs {
    fill: var(--contrast-A-green)
}