@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    width: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    user-select: none;
}