.tile {
    height: var(--spacing-4);
    width: var(--spacing-4);
    border: var(--border-0);
    border-radius: var(--spacing-1);
    background-color: var(--background);
    font-size: var(--spacing-1);
    display: flex;
    flex-direction: column;
    padding: var(--spacing-0);
    cursor: pointer;
    user-select: none;
}

.tile + .tile {
    margin-left: var(--spacing-0);
}

.tile.active {
    background-color: var(--primary);
}

.tile.border-active {
    background-color: var(--secondary);
}

.tile .value {
    font-size: var(--spacing-2);
    flex: 4;
}

.tile .coordinates {
    flex: 1;
    font-size: var(--spacing-1);
}

.tile > div {
    display: flex;
    align-items: center;
    justify-content: center;
}