@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --contrast: #21325E;
  --background: #F0F0F0;
  --primary: #F1D00A;
  --primary-0: #f3e598;
  --secondary: #737eaf;
  --spacing-0: 8px;
  --spacing-1: 24px;
  --spacing-2: 54px;
  --spacing-3: 72px;
  --spacing-4: 128px;
  --border-0: 1px solid var(--contrast);

  font-family: 'Muli', sans-serif;
  color: var(--contrast);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}
